{% extends "_base.html" %}

{% block content %}
<div class="container flex flex-col items-center justify-center mx-auto">
    <h1 class="text-3xl text-center">Bienvenido a MeTube.</h1>
    <h2 class="text-center text-xl">La forma rapida y gratuita de descargar videos en linea</h2>

    <div class="w-full flex flex-wrap items-center justify-center gap-4 mt-4">

        <div
            class="w-full sm:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center">
                    Descargar</h5>
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center">Archivo
                </h5>
            </a>
        </div>
        <div
            class="w-full sm:max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center">
                    Descargar</h5>
                <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white text-center">Lista
                </h5>
            </a>
        </div>

    </div>

</div>
{% endblock content %}